---
import Section from "@components/Section.astro";
import { HOME } from "@content/home.content";
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout layout={HOME.layout}>
  <Hero hero={HOME.hero} />

  <Section section={HOME.services} />
  <Section section={HOME.aidd} />
  <Section section={HOME.technologies} />
  <Section section={HOME.us} />
  <aside class="container center">
    <header>
      <h1 class="color">Te presento a AIDDbot</h1>
      <p class="color">
        Un asistente IA de programación que aumenta tu IDE para desarrollos
        corporativos.
      </p>
    </header>
    <main>
      Siguiendo la filosofía AI-Driven Development, he desarrollado <kbd
        >AIDDbot</kbd
      >, un conjunto de herramientas (prompts, instrucciones, agentes, etc.)
      para que puedas usar fácilmente toda la potencia de la IA en tu día a día.
    </main>
    <footer>
      <a
        role="button"
        class="outline secondary"
        href="https://aicode.academy/community/opensource/aiddbot/"
        target="_blank">Descubre más en Aicode Academy</a
      >
    </footer>
  </aside>
</Layout>
