---
import Section from "@components/Section.astro";
import { HOME } from "@content/home.content";
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Promo from "../components/Promo.astro";
---

<Layout layout={HOME.layout}>
  <Hero hero={HOME.hero} />

  <aside class="center">
    <h2>Spec-Driven Development Inteligente</h2>
    <p>Curso corto focalizado en el desarrollo de software con IA</p>
    <a
      role="button"
      class="outline"
      href="https://www.udemy.com/course/spec-driven-development-inteligente/?referralCode=D67B0EB2BD294D29A5B7"
      target="_blank"
      rel="noopener">Novedad en Udemy</a
    >
    <hr />
  </aside>

  <Section section={HOME.services} />
  <Section section={HOME.aidd} />
  <Section section={HOME.bestPractices} />
  <Section section={HOME.technologies} />
  <Section section={HOME.us} />
  <Promo />
</Layout>
