---
import Section from "@components/Section.astro";
import { HOME } from "@content/home.content";
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout layout={HOME.layout}>
  <Hero hero={HOME.hero} />

  <Section section={HOME.services} />
  <Section section={HOME.aidd} />
  <Section section={HOME.technologies} />
  <Section section={HOME.us} />
  <aside class="container">
    <header>
      <h1 class="color">Te presento a AIDDbot</h1>
      <p class="color">Automatiza tu ciclo de desarrollo con IA</p>
    </header>
    <main>
      Siguiendo la filosofía AI-Driven Development, he desarrollado <kbd
        ><a href="https://github.com/AIDDbot/AIDDbot" target="_blank">AIDDbot</a
        ></kbd
      >, un conjunto de herramientas (prompts, instrucciones, agentes, etc.)
      para que puedas usar fácilmente toda la potencia de la IA en tu día a día.
    </main>
    <footer>
      <a
        role="button"
        class="outline secondary"
        href="https://github.com/AIDDbot/"
        target="_blank">Descárgalo de GitHub</a
      >
    </footer>
  </aside>
</Layout>
