---
import PrimaryComment from "./PrimaryComment.astro";

import type { SectionProps } from "./Section.types";

const { section } = Astro.props as { section: SectionProps };

// replace spaces and dots with dashes ensure single dash
const id = section.title
  ?.toLowerCase()
  .replace(/ /g, "-")
  .replace(/\./g, "-")
  .replace(/-+/g, "-");
---

<section id={id} class="container">
  <header class="">
    <h2 class="">{section.title}</h2>
    <span>{section.subtitle}</span>
  </header>
  {
    section.cards && section.cards.length > 0 && (
      <main class="grid">
        {section.cards.map((card) => (
          <article>
            <h3>
              <PrimaryComment />
              {card.title}
            </h3>
            <p>{card.description}</p>
            {card.cta && <a href={card.cta.link}>{card.cta.text}</a>}
          </article>
        ))}
      </main>
    )
  }
  {
    section.cta && (
      <footer class="">
        <a href={section.cta.link} role="button" class="" target="_blank">
          {section.cta.text}
        </a>
      </footer>
    )
  }
</section>
